<!DOCTYPE html>
<html lang="en">

  <%- include('layouts/header');-%>

<body>

  <%- include('layouts/navbar');-%>

  <!-- Page Header --> 
  <header class="masthead" style="background-image: url('/assets/img/answers.jpg')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="page-heading">
                  <span class="subheading"></span>
              </div>
          </div>
      </div>
    </div>
  </header>
  
  <!-- Moved jquery import up here on purpose. -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 <!-- Begin Main Class-->
  <main class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Carousel -->
            <!-- data-bs-ride="carousel" excluded -->
            <div id="demo" class="carousel slide"  data-bs-interval="false">     
              <!-- The slideshow/carousel -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row" id = "message-body">
                    <p hidden id="questionID" type="number"><%= thisQuestionID %></p>
                    <% if (answers.length > 0) { %>
                    <h2 style="text-align: center">Upvote/Downvote an Answer</h2>
                    <h2 style="text-align: center">OR</h2>
                    <h2 style="text-align: center">Click Answer To Add Your Own</h2>
                    <% } else { %>
                    <h2 style="text-align: center">No Answers Yet</h2>
                    <h2 style="text-align: center">Click Answer To Add Your Own</h2>
                    <% } %>  
                  </div>
                </div>
              
              <%  
                var max = answers.length; 
                for (var i = 0; i < max; i++) {
              %>
              <div class="carousel-item" style="text-align: justify" >
                <div class="row" id = "message-body">
                  <h2>Answer:</h2>
                  <p hidden id="answer_text"><%= answers[i].text %></p>
                </div>
                <div class="row" id="parent-node">
                  <p><strong>Posted by: </strong><%= answers[i].respondent %> on <%= answers[i].date.toDateString() %> </p>
                  <p id="score"><strong>Relevance: </strong><%= answers[i].upvotes %></p>
                </div>
              </div>
              <% } %>
            <!-- Left and right controls/icons -->  
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" id="prevIcon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon" id="nextIcon"></span>
            </button>
            <!-- Blank Row -->
            <div class="row gx-4 gx-lg-5 justify-content-center"></div>
            <!-- Upvote and Downvote Buttons -->
            <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="text-center" style="width: 100%; white-space: nowrap;">                 
                <button style = "display: inline-block; width: 11%; border:2px solid black; border-radius: 10px; background-color: none; margin-left:10px" id="minus"><i class="fas fa-thumbs-down"></i></button>   
                <form onsubmit="submitForm();" style = "display: inline-block" name="answerForm" action="/draft/answer" method="POST">
                 <input type="hidden" name="thisQuestionID"  value = "" >
                 <button id="submitButton" value = "0" style = "border-radius: 8px; margin-left: 10px; margin-right: 10px; background-color:darkcyan; width: 78%; border:2px solid black; margin-bottom:15px" type="submit">Answer</button> 
                </form>
                <button style = "display: inline-block; width: 11%; border-radius: 10px; border:2px solid black; background-color: none; margin-right:10px" id="plus"><i class="fas fa-thumbs-up"></i></button>
              </div>
            </div>              
          </div>              
        </div>
      </div>
    </div>
  </main>  
    
  <script>

    function explainDownvote () {
      let userRationale = prompt("Please provide a cogent explanation for your downvote.  This will be communicated to the person who posted.", "Insufficient facts were given to allow others to respond.");
      return userRationale; 
    }

    function hideButtons (position) {
      /*
      * Hide the voting buttons on index == 0
      */
      var upvoteButton = document.getElementById('minus');
      var downvoteButton = document.getElementById('plus');
      var submitButton = document.getElementById('submitButton');
      if (position == 0) {
        console.log("Rendering hidden")
        upvoteButton.style.visibility = "hidden";
        downvoteButton.style.visibility = "hidden";
        submitButton.style.visibility = "hidden";
      } else {
        console.log("Rendering Visible")
        upvoteButton.style.visibility = "visible";
        downvoteButton.style.visibility = "visible";
        submitButton.style.visibility = "visible";
      }
    } 

    $(document).ready(function(){
      var index = 0;
      hideButtons(index);  

      console.log("You are inside the displayAnswers VIEW!")
      console.log("JS Believes QID is: " + document.getElementById("questionID").innerHTML);
      
      /*
      * Keep Track of the Carousel Index Position
      * and Relevant DOM Elements
      */
      const parent_nodes = document.querySelectorAll("#answer_text");
      const num_parent_nodes = parent_nodes.length;
      console.log("Num Parent Nodes: " + num_parent_nodes)
      const score_nodes = document.querySelectorAll("#score");

      $("#prevIcon").click(function() {

        if (index == 0) {
          index = num_parent_nodes; 
        } else {
          index = index - 1;
        } 

        console.log("Index fed to hide function: " + index + " num_parent_nodes: " + num_parent_nodes)
        hideButtons(index)  

      });

      $("#nextIcon").click(function() {

        if (index == num_parent_nodes) {
          index = 0;
        } else {
          index = index + 1;
        }
        console.log("Index fed to hide function: " + index + " num_parent_nodes: " + num_parent_nodes)
        hideButtons(index)  
      });
         
      /* Handle Upvote*/
      $("#plus").click(function(){
        console.log("Inside Plus");

        console.log("This ID: " + parent_nodes.item(index-1).innerHTML);

        var postid = parent_nodes.item(index-1).innerHTML
        var stringPostID = JSON.stringify(postid).replace("ID: ", "").trim();
        stringPostID = stringPostID.replace('"', '')
        stringPostID = stringPostID.replace('"', '')
      
        mongoIndex = index - 1; // The mongo array starts at [0] which equates to index = 1

        $.ajax({
          type: "post",
          url: "/vote",
          datatype: "json",
          data: {"questionID" : stringPostID, "index" : mongoIndex, "action" : "upvoteAnswer"},
          success: function(result) {
            console.log("Result: " + JSON.stringify(result))
            console.log("result.revisedScore: " + result.revisedScore);
            score_nodes.item(index-1).innerHTML = "<strong>Score: </strong>" + result.revisedScore;
            alert("Your vote has been recorded!");
          }
        })
      });
  
      /* Handle Downvote*/
      $("#minus").click(function(){
        console.log("Inside Minus");

        var rationale = explainDownvote();

        var postid = parent_nodes.item(index-1).innerHTML
        var stringPostID = JSON.stringify(postid).replace("ID: ", "").trim();
        stringPostID = stringPostID.replace('"', '')
        stringPostID = stringPostID.replace('"', '')
        console.log("This is Stringify PostID: " + stringPostID)

        $.ajax({
          type: "post",
          url: "/vote",
          datatype: "json",
          data: {"questionID" : stringPostID, "action" : "downvoteAnswer", "rationale" : rationale},
          success: function(result) {
            console.log("Result: " + JSON.stringify(result))
            score_nodes.item(index-1).innerHTML = "<strong>Score: </strong>" + result.revisedScore;
            alert("Your vote has been recorded!");
          },
          error: function(xhr, status, error) {
            var err = eval("(" + xhr.responseText + ")");
            alert(err.Message);
          }
        })
      });

    }); 
     
    function submitForm() {
        console.log("displayAnswer.ejs on submit ID: " + document.getElementById("questionID").innerHTML)
        document.answerForm.thisQuestionID.value = document.getElementById("questionID").innerHTML;
      }
  </script>

  <%- include('layouts/footer');-%>

  <%- include('layouts/scripts');-%>

</body>

</html>
