<!DOCTYPE html>
<html lang="en">

  <%- include('layouts/header');-%>

<body>

  <%- include('layouts/navbar');-%>

  <!-- Page Header --> 
  <header class="masthead" style="background-image: url('/assets/img/answers.jpg')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="page-heading">
                  <span class="subheading"></span>
              </div>
          </div>
      </div>
    </div>
  </header>
  
  <!-- Moved jquery import up here on purpose. -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 <!-- Begin Main Class-->
  <main class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Carousel -->
            <!-- data-bs-ride="carousel" excluded -->
            <div id="demo" class="carousel slide"  data-bs-interval="false">    
              <!-- Left and right controls/icons -->   
              <div class="carousel-button-container">
                <button class="btn-left" type="button" data-bs-target="#demo" data-bs-slide="prev">
                  <span class="btn-left-text" id="prevIcon">Prev</span>
                </button>
                <button class="btn-right" type="button" data-bs-target="#demo" data-bs-slide="next">
                  <span class="btn-right-text" id="nextIcon">Next</span>
                </button>
              </div>
              <!-- The slideshow/carousel -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row" id = "message-body">
                    <p hidden id="questionID" type="number"><%= thisQuestionID %></p>
                    <% if (answers.length > 0) { %>
                    <h2 style="text-align: center">Upvote/Downvote an Answer</h2>
                    <h2 style="text-align: center">OR</h2>
                    <h2 style="text-align: center">Click Answer To Add Your Own</h2>
                    <p hidden id="answerIndex" type="number">-1</p>
                    <% } else { %>
                    <h2 style="text-align: center">No Answers Yet</h2>
                    <h2 style="text-align: center">Click Answer To Add Your Own</h2>
                    <p hidden id="answerIndex" type="number">-1</p>
                    <% } %>  
                  </div>
                </div>
              
              <%  
                var max = answers.length; 
                for (var i = 0; i < max; i++) {
              %>
              <div class="carousel-item" style="text-align: justify" >
                <div class="row" id = "message-body">
                  <h2>Suggested Answer:</h2>
                  <p id="answer_text"><%- answers[i].text.replace('\"', "") -%></p>
                </div>
                <div class="row" id="parent-node">
                  <p><strong>Posted by: </strong><%= answers[i].respondent %> on <%= answers[i].date.toDateString() %> </p>
                  <p id="score"><strong>Relevance: </strong><%= answers[i].upvotes %></p>
                  <p hidden id="answerIndex" type="number"><%= i %></p>
                </div>
              </div>
              <% } %>
            
            </div>
            <!-- Blank Row -->
            <div class="row gx-4 gx-lg-5 justify-content-center"></div>
            <!-- Upvote and Downvote Buttons -->
            <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="text-center" style="width: 100%; white-space: nowrap;">                 
                <button style = "display: inline-block; width: 11%; border:2px solid black; border-radius: 10px; background-color: none; margin-left:10px" id="minus"><i class="fas fa-thumbs-down"></i></button>   
                <form onsubmit="submitForm();" style = "display: inline-block" name="answerForm" action="/draft/answer" method="POST">
                 <input type="hidden" name="thisQuestionID"  value = "" >
                 <button id="submitButton" value = "0" style = "border-radius: 8px; margin-left: 10px; margin-right: 10px; background-color:darkcyan; width: 78%; border:2px solid black; margin-bottom:15px" type="submit">Answer</button> 
                </form>
                <button style = "display: inline-block; width: 11%; border-radius: 10px; border:2px solid black; background-color: none; margin-right:10px" id="plus"><i class="fas fa-thumbs-up"></i></button>
              </div>
            </div>              
          </div>              
        </div>
      </div>
    </div>
  </main>  
    
  <script>

    function explainDownvote () {
      let userRationale = prompt("Please provide a cogent explanation for your downvote.  This will be communicated to the person who posted.", "Insufficient facts were given to allow others to respond.");
      return userRationale; 
    }

    /*
    * Hide / Reveal Voting Buttons
    */
    function hideButtons (position) {
      var upvoteButton = document.getElementById('minus');
      var downvoteButton = document.getElementById('plus');
      var submitButton = document.getElementById('submitButton');
      if (position == -1) {
        console.log("Rendering hidden")
        upvoteButton.style.visibility = "hidden";
        downvoteButton.style.visibility = "hidden";
      } else {
        console.log("Rendering Visible")
        upvoteButton.style.visibility = "visible";
        submitButton.style.visibility = "visible";
        downvoteButton.style.visibility = "visible";
      }
    }   

    $(document).ready(function(){
        
      /*
      *  Hide the Buttons on Initial Display
      */ 
      hideButtons (-1)
      
      /*
      * Figure Out What to Hide When Carousel Slides
      * Execute hideButtons Function On Completion
      */
      $("#demo").on('slid.bs.carousel', function() {
        console.log($(".carousel-item.active #answerIndex")[0].innerHTML)
        hideButtons($(".carousel-item.active #answerIndex")[0].innerHTML)
      });

      console.log("You are inside the displayAnswers VIEW!")
      console.log("JS Believes QID is: " + document.getElementById("questionID").innerHTML);
      
      /*
      * Keep Track of the Carousel Index Position
      * and Relevant DOM Elements
      */
      $("#prevIcon").click(function() {

        // Leave Blank For Now

      });

      $("#nextIcon").click(function() {

        // Leave Blank For Now

      });
         
      /* Handle Upvote*/
      $("#plus").click(function(){
        console.log("Inside Plus");

        // Find the questionID for the active carousel item
        var stringPostID = document.getElementById("questionID").innerHTML
        stringPostID = stringPostID.replace(" ", "");
        console.log("stringPostID: " + stringPostID);
          
        // Find the score_node element associated with the active item
        var score_node = $(".carousel-item.active #score")[0]

        // Find the active answer index modified to account for shift due to initial slide
        var mongoIndex = $(".carousel-item.active #answerIndex")[0].innerHTML

        $.ajax({
          type: "post",
          url: "/vote",
          datatype: "json",
          data: {"questionID" : stringPostID, "index" : mongoIndex, "action" : "upvoteAnswer"},
          success: function(result) {
            console.log("Result: " + JSON.stringify(result))
            console.log("result.revisedScore: " + result.revisedScore);
            score_node.innerHTML = "<strong>Score: </strong>" + result.revisedScore;
            alert("Your vote has been recorded!");
          }
        })
      });
  
      /* Handle Downvote*/
      $("#minus").click(function(){
        console.log("Inside Minus");

        var rationale = explainDownvote();

        // Find the questionID for the active carousel item
        var stringPostID = document.getElementById("questionID").innerHTML
        stringPostID = stringPostID.replace(" ", "");
        console.log("stringPostID: " + stringPostID);

        /*
        var stringPostID = JSON.stringify(postid).replace("ID: ", "").trim();
        stringPostID = stringPostID.replace('"', '')
        stringPostID = stringPostID.replace('"', '')
        */
          
        // Find the score_node element associated with the active item
        var score_node = $(".carousel-item.active #score")[0]

        // Find the active answer index modified to account for shift due to initial slide
        var mongoIndex = $(".carousel-item.active #answerIndex")[0].innerHTML

        $.ajax({
          type: "post",
          url: "/vote",
          datatype: "json",
          data: {"questionID" : stringPostID, "index" : mongoIndex, "rationale" : rationale, "action" : "downvoteAnswer"},
          success: function(result) {
            console.log("Result: " + JSON.stringify(result))
            score_node.innerHTML = "<strong>Score: </strong>" + result.revisedScore;
            alert("Your vote has been recorded!");
          }
        })
      });

    }); 
     
    function submitForm() {
        console.log("displayAnswer.ejs on submit ID: " + document.getElementById("questionID").innerHTML)
        document.answerForm.thisQuestionID.value = document.getElementById("questionID").innerHTML;
      }
  </script>

  <%- include('layouts/footer');-%>

  <%- include('layouts/scripts');-%>

</body>

</html>
