<!DOCTYPE html>
<html lang="en">

  <%- include('layouts/header');-%>

<body>

  <%- include('layouts/navbar');-%>

  <!-- Page Header --> 
  <header class="masthead" style="background-image: url('/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="page-heading">
                  <h1>Scroll Left or Right</h1>
                  <span class="subheading">Upvote or Downvote Question. View Answers.</span>
              </div>
          </div>
      </div>
    </div>
  </header>
  
  <!-- Moved jquery import up here on purpose. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Begin Main Class-->
  <main class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Carousel -->
            <!-- data-bs-ride="carousel" excluded -->
            <div id="demo" class="carousel slide"  data-bs-interval="false">     
              <!-- The slideshow/carousel -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row" id = "message-body">
                    <% if (questions.length > 0) { %>
                    <h2 style="text-align: center">Use Left and Right Arrows </h2>
                    <h2 style="text-align: center">to Scroll</h2>
                    <h2 style="text-align: center">Through Questions</h2>
                    <p hidden id="questionID" type="number">0</p>
                    <% } else { %>
                      <h2 style="text-align: center">No Results</h2>
                      <h2 style="text-align: center">Post Your Own Question</h2>
                      <p hidden id="questionID" type="number">0</p>
                    <% } %>  
                  </div>
                </div>
                <%   
                var max = questions.length
                for (var i = 0; i < max; i++) {
                %>
              <div class="carousel-item" style="text-align: justify" >
                <div class="row" id = "message-body">
                  <h2 class="post-title" style = "color:dodgerblue"><%= questions[i].title %></h2>
                  <p class="post-subtitle">
                    <%- questions[i].body.replace('\"', "") %>
                  </p>
                </div>
                <div class="row" id="parent-node">
                  <p><strong>Posted by: </strong><%= questions[i].userid.username %> on <%= questions[i].datePosted.toDateString() %> </p>
                  <p id="score"><strong>Relevance: </strong><%= questions[i].upvotes %></p>
                  <p hidden id="questionID" type="number"><%= questions[i]._id %></p>
                </div>
              </div>
              <% } %>          
            <!-- Left and right controls/icons -->  
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" id="prevIcon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon" id="nextIcon"></span>
            </button>
            <!-- Blank Row -->
            <div class="row gx-4 gx-lg-5 justify-content-center"></div>
            <!-- Upvote and Downvote Buttons -->
            <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="text-center" style="width: 100%; white-space: nowrap;"> 
                <button style = "display: inline-block; width: 11%; border:2px solid black; border-radius: 10px; background-color: none; margin-left:10px" id="minus"><i class="fas fa-thumbs-down"></i></button>                                
                <form action="/display/answers" method="POST" style="display: inline-block">
                  <button id="submitButton" name="questionID" value="0" style = "border-radius: 8px; margin-left: 10px; margin-right: 10px; background-color:darkcyan; width: 78%; border:2px solid black; margin-bottom:15px" type="submit">Answers</button>
                </form>
                <button style = "display: inline-block; width: 11%; border-radius: 10px; border:2px solid black; background-color: none; margin-right:10px" id="plus"><i class="fas fa-thumbs-up"></i></button>
              </div>
            </div>              
          </div>              
        </div>
      </div>
    </div>
  </main>  
    
  <script>
    var upvoteButton = document.getElementById('minus');
    var downvoteButton = document.getElementById('plus');
    var submitButton = document.getElementById('submitButton');

    function explainDownvote () {
      let userRationale = prompt("Please provide a cogent explanation for your downvote.  This will be communicated to the person who posted.", "Insufficient facts were given to allow others to respond.");
      return userRationale; 
    }

    /*
    * Hide the voting buttons on index == 0
    */
    function hideButtons (position) {
      var upvoteButton = document.getElementById('minus');
      var downvoteButton = document.getElementById('plus');
      var submitButton = document.getElementById('submitButton');
      if (position == 0) {
        console.log("Rendering hidden")
        upvoteButton.style.visibility = "hidden";
        downvoteButton.style.visibility = "hidden";
        submitButton.style.visibility = "hidden";
      } else {
        console.log("Rendering Visible")
        upvoteButton.style.visibility = "visible";
        downvoteButton.style.visibility = "visible";
        submitButton.style.visibility = "visible";
      }
    } 

    $(document).ready(function(){

      /*
      *  Hide the Buttons on Initial Display
      */ 
      hideButtons (0)
      
      /*
      * Figure Out What to Hide When Carousel Slides
      * Execute hideButtons Function On Completion
      */
      $("#demo").on('slid.bs.carousel', function() {
        console.log($(".carousel-item.active #questionID")[0].innerHTML)
        hideButtons($(".carousel-item.active #questionID")[0].innerHTML)
      });

      /*
      * Keep Track of the Carousel Index Position
      * and Relevant DOM Elements
      */
      const num_parent_nodes = $(".carousel-item").length
      const score_nodes = document.querySelectorAll("#score");

      $("#prevIcon").click(function() {
        // Empty For Now
      });

      $("#nextIcon").click(function() {
        // Empty For Now
      });
      
      // Handle Upvote
      $("#plus").click(function(){          
          // Find the questionID for the active carousel item
          var stringPostID = $(".carousel-item.active #questionID")[0].innerHTML
          console.log("stringPostID: " + stringPostID);
          
          // Find the score_node element associated with the active item
          var score_node = $(".carousel-item.active #score")[0]

          $.ajax({
            type: "post",
            url: "/vote",
            datatype: "json",
            data: {"questionID" : stringPostID, "action" : "upvoteQuestion"},
            success: function(result) {
              console.log("Result: " + JSON.stringify(result))
              console.log("result.revisedScore: " + result.revisedScore);
              score_node.innerHTML = "<strong>Relevance: </strong>" + result.revisedScore;
              alert("Your upvote has been recorded!");
            }
          })
        }
      );
  
      // Handle Downvote
      $("#minus").click(function(event){
          
        var rationale = explainDownvote();
        
        // Find the questionID for the active carousel item
        var stringPostID = $(".carousel-item.active #questionID")[0].innerHTML
        console.log("stringPostID: " + stringPostID);
          
        // Find the score_node element associated with the active item
        var score_node = $(".carousel-item.active #score")[0]
        
        $.ajax({
          type: "post",
          url: "/vote",
          datatype: "json",
          data: {"questionID" : stringPostID, "action" : "downvoteQuestion", "rationale" : rationale},
          success: function(result) {
            console.log("Result: " + JSON.stringify(result))
            score_node.innerHTML = "<strong>Relevance: </strong>" + result.revisedScore;
            alert("Your downvote has been recorded!");
          },
          error: function(xhr, status, error) {
            var err = eval("(" + xhr.responseText + ")");
            alert(err.Message);
          }
        })
        }
      );

      document.getElementById('submitButton').onclick = function() {
        this.value = $(".carousel-item.active #questionID")[0].innerHTML;
      }

    });    
  </script>

  <%- include('layouts/footer');-%>

  <%- include('layouts/scripts');-%>

</body>

</html>
