<!DOCTYPE html>
<html lang="en">

  <%- include('layouts/header');-%>

<body>

  <%- include('layouts/navbar');-%>

  <!-- Page Header --> 
  <header class="masthead" style="background-image: url('/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="page-heading">
                  <h1>Scroll Left or Right</h1>
                  <span class="subheading">Upvote or Downvote Question. View Answers.</span>
              </div>
          </div>
      </div>
    </div>
  </header>
  
  <!-- Moved jquery import up here on purpose. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Begin Main Class-->
  <main class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Carousel -->
            <div id="demo" class="carousel slide" data-bs-ride="carousel">
      
              <!-- The slideshow/carousel -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row" id = "message-body">
                    <h1>Use Left and Right Arrows to Scroll</h1>
                  </div>
                </div>
                <%   
                var max = questions.length
                for (var i = 0; i < max; i++) {
                  relevance = questions[i].upvotes
                %>
              <div class="carousel-item" style="text-align: justify" >
                <div class="row" id = "message-body">
                  <h2><%= questions[i].title %></h2>
                  <p><%= questions[i].body %></p>
                </div>
                <div class="row">
                  <p><strong>Posted by: </strong><%= questions[i].userid.username %> on <%= questions[i].datePosted.toDateString() %> </p>
                  <p id="questionID" type="number"><%= questions[i]._id %></p>
                </div>
              </div>
              <% } %>          
            <!-- Left and right controls/icons -->  
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            </button>
            <!-- Blank Row -->
            <div class="row gx-4 gx-lg-5 justify-content-center"></div>
            <!-- Upvote and Downvote Buttons -->
            <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="text-center" style="width: 100%; white-space: nowrap;"> 
                <button style = "display: inline-block; width: 20%; height: 50%; border-radius: 8px; background-color: grey; margin-left:20px" id="minus">-</button>
                  <p id = "score" type="number" class="text-center" style = "display: inline-block; text-align: centered; width: 50%; height: 40%;"> <%= relevance %> </p>
                <button style = "display: inline-block; width: 20%; height: 50%; border-radius: 8px; background-color: grey" id="plus">+</button>
              </div>
              <div class="row" >
                <button id="submitButton" style = "border-radius: 8px; margin-left: 20px; background-color:darkcyan; width: 200px; margin-bottom:15px" type="submit">View Responses</button>
              </div>
            </div>              
          </div>              
        </div>
      </div>
    </div>
  </main>  
  
  <script>
//    $("p").hide();  // THIS IS TO HIDE THE QUESTION ID
    var myBoolean = 0;
    // var relevance = 0;
    var relevanceStr = $('#score').text;
    console.log("This is relevanceStr: " + relevanceStr)
    var relevance = parseInt(relevanceStr, 10);
    console.log("This is Relevance : " + relevance);
    /*var thisQuestionId = $('message-body').value;*/
    /*const Questions = require('../models/Question');*/
    $(document).ready(function(){
      console.log("Document is ready.");
      $("#plus").click(function(){
        if (myBoolean == 0) {
          console.log("Inside Plus");
          relevance++;
         // myBoolean = 1;
          /*Users.updateOne({ _id : thisQuestionId}, {$set : {upvotes: relevance}})*/
       }
        $("#score").text(relevance);
      });
  
      $("#minus").click(function(){
        if (myBoolean == 0) {
          console.log("Inside Minus");
          relevance--;    
        //  myBoolean = 1;
        /* Users.updateOne({ _id : thisQuestionId}, {$set : {upvotes: relevance}})*/
        }
        $("#score").text(relevance);
      });

      $("#submitButton").click(function() {
        console.log("Inside Submit Button");
        /*let data = {name: 'DelftStack'};
        fetch("https://randomuser.me/api/?results=10", {
        method: "POST", 
        body: JSON.stringify(data)
        }).then(res => {
          console.log("Promise resolved", res);
        }); */
      });
    });    
  </script>

  <%- include('layouts/footer');-%>

  <%- include('layouts/scripts');-%>

</body>

</html>
