<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/QandA.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Register a New Account</h1>
                            <span class="subheading">Be Part of the Solution.  One Question at a Time.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <!--This Displays the Errors in a Registration Form-->
                            <!--These errors were passed here from newUser.js-->
                            <% if(errors != null && errors.length > 0) { %>
                                <ul class = "list-group"></ul>
                                    <% for (var i = 0; i < errors.length; i++) { %>
                                        <li class="list-group-item list-group-item-danger"><%=errors[i] %></li>
                                    <%} %>
                                </ul>       
                            <% } %> 
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <form action="/users/register" method="POST">
                                <div class="form-floating">
                                    <input class="form-control" id="username" type="text" placeholder="User Name" data-sb-validations="required" name = "username"/>
                                    <label for="title">Username</label>
                                    <div class="invalid-feedback" data-sb-feedback="title:required">A descriptive title is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="password" type="password" placeholder="Password" data-sb-validations="required" name="password"/>
                                    <label for="name">Password</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Password required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="email" type="email" placeholder="john.doe@mymail.com" data-sb-validations="required" name = "email"/>
                                    <label for="title">Please enter e-mail:</label>
                                    <div class="invalid-feedback" data-sb-feedback="title:required">Email is required.</div>
                                </div>
                                <br />
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <!-- Scripts-->
        <%- include('layouts/scripts'); -%>
    </body>
</html>
